.background {
    background: url("./assets/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.homepage {
    background: url("./assets/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navLink {
    text-decoration: none;
}

.header {
    padding: 15px 0px;
}

.input {
    margin-top: 10px;
}

.text {
    margin-top: 15px;
}

.button {
    background: none;
    border: none;
}

.btn {
    border-bottom: 1px solid black;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
    justify-content: center;
}

.cardItem {
    margin: 10px 10px;
}

.notes {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin: 20px 20px 20px 20px;
    background-image: url('./assets/paper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notes .icon {
    padding: 5px 5px 0px 0px;
}

.notes .noteContainer {
    margin: 10px 0px;
}

.notes .noteContainer2 {
    border-bottom: 1px dotted black;
}

.notes .noteHeader {
    margin: 5px 5px;
}

.notes .noteText {
    /* padding: 5px 0px; */
    margin: 5px 10px;
}

.accordion {
    margin: 0px 20px 0px 20px;
    border: 1px solid lightgray;
}

.history {
    margin: 10px 10px;
}

.feedback {
    margin: 10px 10px;
}